#board-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: 88vmin;
  height: 88vmin;

  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.row {
  display: flex;
  width: 100%;
}
